html {
    overflow-x: hidden;
}

body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow-x: hidden;
    visibility: hidden;
}

h1 {
    font-size: 40px;
    line-height: 44px;
    color: black;
    margin-bottom: -10px;
}

h2 {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: -10px;
    color: black;
    font-family: cursive;
}

h4 {
    font-size: 20px;
    color: black;
    margin-bottom: -10px;
    font-family: cursive;
}

h6 {
    padding: 10px 8px;
    margin: auto;
}

p {
    color: rgb(180, 145, 145);
}

.h-1 button {
    background-image: url(images/img/button.png);
    border: 0;
    background-color: transparent;
    padding: 14px 60px 15px 75px;
    font-size: 15;
    font-family: serif;
    font-weight: 700;
    color: rgb(233, 20, 20);

}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 30px 0;
}

/* Nav Styles */

.nav {
    padding: 2rem 0;
}

.nav__icon,
.nav__close,
.nav__bgOverlay {
    display: none;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__list li {
    display: inline-block;
    margin: 0 1rem;
    color: #eee;
}

.nav__list .nav__link {
    font-size: 1rem;
    font-family: Poppins;
    color: rgb(105, 90, 90);
    padding: 0.3rem;
    text-decoration: none;
}

.nav__list .nav__link:hover {
    color: rgb(233, 20, 20);

}

.nav__list .nav__link:hover::after {
    width: 25%;
    height: 2px;

    background-color: rgb(233, 20, 20);
    ;
    bottom: -4px;
    left: 30px;
}

@media only screen and (max-width: 748px) {

    .nav {
        position: relative;
        /* overflow-x: scroll; */
    }

    .nav__icon {
        display: block;
    }

    .nav__icon svg,
    .nav__close svg {
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close {
        display: block;
        position: absolute;
        color: var(--black-1);
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }

    .nav__list {
        z-index: 1000;
        position: absolute;
        left: 100%;
        top: 0;
        height: 60vh;
        width: 80%;
        background: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translate(0%);
        overflow: hidden;
        transition: 0.3s ease-in transform;
    }

    .nav__list.show {
        transform: translate(-100%);
    }

    .nav__list li {
        display: block;
        text-align: right;
        margin-bottom: 1rem;
    }

    .nav__list a {
        font-size: 1.6rem;
    }

    .nav__bgOverlay {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        background: rgba(248, 248, 247, 0.808);
        display: none;
    }

    .nav__bgOverlay.active {
        display: block;
    }

    .nav__list .nav__link:hover {
        color: rgb(233, 20, 20);

    }

    .nav__list .nav__link:hover::after {
        content: "";
        width: 25%;
        height: 2px;

        background-color: rgb(233, 20, 20);
        ;
        bottom: -4px;
        left: 30px;
    }
}

/* End Nav Styles */
/* hero style */
#hero {
    background-image: url(img/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero .h-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 70px;

}

#hero .h-1 h1 {
    color: rgb(233, 20, 20);
    ;
    display: flex;
    width: 100%;
    font-family: cursive;
}

#hero button:hover {
    color: rgb(233, 20, 20);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    #hero .h-1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 70px;

    }
}


/* end of hero styles */
#feature {
    text-align: center;
}

#feature h2 {
    padding: 10px 10px 20px 10px;
    margin: 22px;
    font-size: 26px;
}

#feature h2::after {
    content: '';
    width: 122px;
    height: 5px;
    background: rgb(233, 20, 20);
    position: absolute;
    transform: translateY(40px);
    left: 45%;
    border-radius: 10px;
}

#feature .product1 {
    width: 5%;
    min-width: 230px;
    padding: 10px 0px 18px;
    border: 2px solid #f3f5ed;
    border-radius: 22px;
    cursor: pointer;
    transform: translate(0.5s);
    transition: 0.3s;
    position: relative;
    margin: inherit;
}

#feature .product1:hover {
    /* border-color:#c6ccb5; */
    transform: translateY(-5px);
}

#feature .product1 img {
    width: 90%;
    border-radius: 12px;
}

#feature .pro h3 {
    margin: auto;
    line-height: 25px;
}

#feature .pro .yo {
    text-decoration: line-through;
}

#feature .pro p {
    margin: auto;
}

#feature .pro {
    text-align: start;
    padding: 10px 20px;

}

#feature .rating {
    color: rgb(251, 255, 6);
}

#feature .pro .fa-cart-shopping {
    width: 20px;
    height: 11px;
    line-height: 10px;
    color: rgb(172, 169, 165);
    background-color: #f5dede;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    bottom: -20px;
    left: 80%;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

#feature .pro .fa-cart-shopping:hover {
    color: black;
}

#feature .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 10px;
}

@media only screen and (max-width: 767px) {

    #feature .container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    #feature .pro-container {
        display: grid;
        /* grid-template-columns: repeat(autofit, minmax(140px, 1fr)); */
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 1rem;
    }
}

#banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(images/img/banner/b2.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 100%;
}

#banner h2 {
    color: #fff;
    padding: 45px 0px;
}

#btn {
    text-align: center;
    background-color: rgb(225, 235, 225);
    border-radius: 2px;
    width: 120px;
    display: inline;
    padding: 10px 0px;
    border: 1px solid black;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

}

#btn:hover {
    background-color: rgb(2, 136, 107)
}

#banner span {
    color: rgb(233, 20, 20);
}

#poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#poster .banner-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    background-image: url(images/img/banner/b17.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    min-width: 500px;
    padding: 30px;

}

#poster .banner-box2 {
    background-image: url(images/img/banner/b10.jpg);
}

#poster p {
    color: #fff;
    font-weight: 500px;
    font-size: 18px;
    margin: 0%;
    padding: 0%;
}

#poster span {
    color: rgb(15, 15, 15);
}

#poster h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 0px 0px;
}

#poster h2 {
    color: #fff;
    padding: 20px 0px;
    margin: 0px;
}

.banner-box button {
    text-align: center;
    background-color: transparent;
    border-radius: 2px;
    width: 100px;
    display: inline;
    padding: 10px 0px;
    border: 1px solid #fff;
    transition: 0.3s;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    margin: 15px 0px;

}

#poster .banner-box:hover button {
    background-color: rgb(2, 136, 107)
}

#banner2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20 80px;

}

#banner2 .banner-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    background-image: url(images/img/banner/b7.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    min-width: 25%;
    padding: 20px;

}

#banner2 .banner-box4 {
    background-image: url(images/img/banner/b4.jpg);

}

#banner2 .banner-box3 {
    background-image: url(images/img/banner/b18.jpg);
}

#banner2 h2 {
    color: #fff;
    font-size: 16px;
    padding: 20px 0px 0px;
    font-weight: 900;
}

.banner-box h3 {
    color: rgb(233, 20, 20);
    padding: 10px 0px;
    margin: 0px;
    font-weight: 100;

}

#newsletter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(images/img/banner/b14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(9, 9, 24);
    background-position: 20% 30%;
    padding: 20px 80px;

}

#newsletter h4 {
    font-size: 22px;
    color: #fff;
    align-items: center;
    font-weight: 700;
    font-family: revert;

}

#newsletter p {
    font-size: 18px;
}

#newsletter span {
    color: brown;
}

#newsletter .form {
    display: flex;
    width: 100%;
}

#newsletter input {
    height: 37.5px;
    width: 80%;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 14px;
    outline: none;
    font-size: 16px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#newsletter button {
    width: 100px;
    height: 38px;
    font-size: 16px;
    border-radius: 2px;
    background-color: rgb(0, 126, 109);
    color: #fff;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    white-space: nowrap;
    padding: 10px;
    border: rosybrown;

}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 35px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 10px;
    margin: 0px;

}

footer p {
    font-size: 15px;
    margin: 10px 0px 15px 0px;
}

footer a {
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #bea6a6;
}

footer .follow i {
    color: rgb(150, 130, 105);
    padding: 2px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: darkolivegreen;

}

footer .install .row img {
    border: 1px solid rgb(147, 167, 147);
    border-radius: 5px;
}

footer .copyright {
    width: 100%;
    text-align: center;

}

footer .col .image {
    height: 150px;

}

#page-header {
    background-image: url(images/img/banner/b1.jpg);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}

#page-header h2,
#page-header p {
    color: #fff;
    font-family: 'ui-serif';
}

#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    padding: 14px 20px;
    color: #040303;
    border: 1px solid #a38686;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 900;
}

#pagination a:hover {
    background-color: rgb(0, 126, 109);

}

/* SHOP PAGE  */
#single-image .image_f {
    margin-right: 40px;
    width: 40%;
}

.image_f img {
    width: 100%;
    border-radius: 2px;
}

.small_images {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.small_images_col {
    margin: 4px;
}

.small_images_col img {
    width: 100%;
    margin: 2px;
    border-radius: 2px;
}

#single-image {
    display: flex;
}

#btn_2 {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: darkcyan;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-family: serif;
    cursor: pointer;
}

#count {
    position: absolute;
    top: -8px;
}

#input_1 {
    width: 37px;
    height: 25px;
    margin-right: 10px;
    font-size: 15px;
    outline: none;
}

.single-image-details {
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.single-image-details h4 {
    padding: 20px 0px 10px 0px;
    margin: 0px;
}

.single-image-details h2 {
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    margin: 0px;
}

.single-image-details h6 {
    font-size: 30px;
    padding: 0px;
}

.single-image-details select {
    display: block;
    height: 20px;
    margin-bottom: 10px;
    outline: none;
}

/* ABOUT PAGE */
#page-header.about {
    background-image: url(images/img/about/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    background-position: center;
    width: 100%;
}

#about-head {
    display: flex;
}

#about-head img {
    width: 40%;
}

#about-head .about {
    padding: 20px;
}

#about-head h2 {
    padding: 10px;
    margin: 0%;
    text-align: center;
}

#about-head p {
    padding: 12px 32px;
    margin: 0%;
    font-size: 18px;
}

#about-head p span {
    color: firebrick;
    font-weight: bold;
}

#about-head marquee {

    background-color: #ccc;
    align-items: baseline;

}

.marque {
    padding: 20px 32px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0px auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* CART PAGE */
#cart table {
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
}

#cart img {
    width: 30%;
}

#cart table thead tr {
    border: 2px solid #e6e6e6;
    border-left: none;
    border-right: none;
}

#cart table td:nth-child(1),
#cart table td:nth-child(2),
#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    text-align: center;
    width: 150px;
    padding: 10px;
}

#cart table td input {
    width: 30px;
    height: 20px;
    outline: none;
}

#cart table thead td {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;

}

#cart table tbody td {
    font-size: 15px;
}

#coupon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#coupon .coupons {
    width: 50%
}

#coupon .coupons h3 {
    font-size: 23px;
    margin-bottom: 10px;
    font-family: math
}

#coupon .coupons input {
    width: 40%;
    padding: 10px;
    margin-right: 10px;
    outline: none;
    border: 1px solid;
    border-color: #ccc;
    font-size: 15px;
}

#coupon .coupons button {
    padding: 10px;
    width: 15%;
    background-color: rgba(5, 95, 35, 0.774);
    border: none;
    color: white;
    border-radius: 2px;
}

#total {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#total h3 {
    margin: 0px;
    margin-bottom: 10px;
}

#total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

#total table td {
    width: 50%;
    padding: 13px;
}

#total table tr {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
}

@media (max-width:477px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #hero {
        padding: 0px 20px;
        background-position: 75%;
    }

    #hero .h-1 {
        width: 88%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 2px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
        padding: 0px 142px 0px 0px;
    }

    h4 {
        font-size: 20px;
        padding: 0px 192px 0px 0px;
    }

    p {
        font-size: 12px;
        padding: 0px 92px 0px 0px;
        width:230px;

    }

    .h-1 button {
        margin-right: 98px;

    }

    #feature h2 {
        padding: 10px 10px 10px 10px;
        margin: 0px;
        font-size: 15px;
    }

    #feature h2::after {
        left: 35%;
    }

    #feature .pro-container {
        width: 100%;
    }

    #poster .banner-box {
        min-width: 100%;
        padding: 0px 0px 0px 10px;
        margin-top: 20px;
    }#banner2 {
        padding: 20px 40px;
    }    
    #banner2 .banner-box {
        min-width: 90%;
        margin-top: 20px;
    }#newsletter {
        padding: 20px 10px;
    }#newsletter h4 {
        padding:0px;
    
    }#newsletter p 
    {
        padding:0px;
    }footer .col 
    {
        padding: 25px;
        margin-bottom: 0px;
    }footer .install .row img 
    {
        margin-bottom: 12px;
    }     

}